body{
    background-color: aliceblue;
}


.container {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto;
    background-color: silver;

}



.block-left     {
    width: 50%;
    max-width: 300px;
    height:780px;
    overflow:auto;
    float:left;
    background-color: silver;
    margin: 5px 10px 5px 0px;
    display: inline;
    padding: 5px;
}

.block-right    {
    width:50%;
    max-width: 300px;
    height:780px;
    overflow:auto;
    float:right;
    background-color: silver;
    margin: 5px 0px 5px 10px;
    display: inline;
    padding: 5px;
}

div {
    margin-bottom: 10px;
    background-color: darkgrey;


}

header  {
    height: 50px;
    margin: 0 30px 20px 30px;
    background-color: white;
    text-align:center;
    vertical-align:middle;
}

section {
    height: 800px;
    background-color: white;
    margin: 0 30px;

}

footer  {
    height: 80px;
    margin: 20px 30px 0 30px;
    background-color: white;
    text-align:center;
}



